@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  @apply overflow-hidden m-0 h-screen w-screen;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
div {
  @apply flex-none shrink-0;
}

/* Fix headings */
h1 {
  @apply text-2xl;
}
h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}
h4 {
  @apply text-base;
}
h5 {
  @apply text-sm;
}
h6 {
  @apply text-xs;
}

* {
  @apply box-border;
}

#root {
  @apply w-full h-full;
}

/* Disable outlines on Input Components */
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* h1, h2, h3, h4, h5, h6 {
  margin: 0;
  text-align: center;
} */

/* table {
  border-collapse: 'separate';
  border-spacing: '0.5rem 0.25rem';
} */